__pycache__
*.pyc
*.pyo
*.pyd
.Python
.env
.env.*
venv/
.venv/
env/
build/
dist/
.eggs/
*.egg-info/
storage/
*.log
.git
.gitignore
.idea
.vscode
node_modules
__init__.pyc
requirements-full.txt
requirements-research.txt